.task-container{
    display: flex;
    flex-direction: column;
}

.container-title{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}